/* Initialize */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.back{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.back::before{
  content: '';
  position: relative;
  width: 0.4%;
  background: #ccc;
  transform: translateX(-0.4%);
  display: flex;
  left: 50%;
}

.day, .night{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  transition: background linear .5s;
}

.day{
  left: -0.3%;
  position: relative;
  background: #B0E3FF;
}

.night{
  left: 0.3%;
  position: relative;
  background: #111;
}

.checkbtn{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch:checked ~ .back .night {
  transition: background-color linear .5s;
  background-color: #B0E3FF;
}

#switch:checked ~ .back .day {
  transition: background-color linear .5s;
  background-color: #111;
}

input{
  display: none;
}

label{
  height: 40px;
  width: 80px;
  z-index: 1;
  cursor: pointer;
	border-radius: 20px;
  background: #ddd;
  border: 3px solid rgb(255, 255, 255);
  transition: all .8s cubic-bezier(1, 0, .5, 0);
  text-align: -webkit-left;
}

.switcher{
  position: relative;
  top: 1.5px;
  left: 1px;
  right: 1px;
  height: 32px;
  width: 32px;
  background: gold;
  border-radius: 50%;
  border: 2.5px solid #888;
}

#switch:checked ~ label {
  text-align: -webkit-right;
  transition:  all 500ms cubic-bezier(0.8, 0, 0.05, 1); 
}

.sun, .moon{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.sun{
  background: gold;
}

.moon{
  background: silver;
}

.back .day .moon{
  display: none; 
}

.back .night .sun{
  display: none; 
}

#switch:checked ~ .back .day .sun{
  display: none; 
}

#switch:checked ~ .back .day .moon{
  display: block; 
}

#switch:checked ~ .back .night .moon{
  display: none; 
}

#switch:checked ~ .back .night .sun{
  display: block;
}